* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #202020;
  color: #D8D5DB;
  font-family: 'Rajdhani', sans-serif;
}

input, select, button {
  font-family: 'Rajdhani', sans-serif;
}

.table {
  border: 2px solid #EEC643;
  font-size: 2rem;
  margin: 5rem auto;
  text-align: center;
  border-radius: 15px;
  font-weight: 300;
  width: 90vw;
  border-collapse: collapse;
}

th {
  font-weight: 500;
  line-height: 4rem;
  border: none;
}

td {
  border-bottom: 1px solid #adb5bd;
  line-height: 6rem;
  font-size: 1.8rem;
}

table tr:last-child td {
  border-bottom: none;
}

/*.table th, .table td {
  padding: 7px;
  text-align: left;
  border-bottom: 1px solid #EEC643;
}*/

.table th:first-child, .table td:first-child {
  border-top-left-radius: 0.5px;
  border-bottom-left-radius: 0.5px;

}

.table th:last-child, .table td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.table-head {
  border-collapse: collapse;
  background-color: #EEC643;
  color: #202020;
  font-size: 2rem;
  padding-top: 10px;
}

.planet-name {
  font-size: 1.8rem;
  color: #EEC643;
  cursor: pointer;

}

.planet-name:hover {
  font-weight: 500;
}

.img-topo {
  width: 100vw;
}

.img-planeta {
  width: 30rem;
}

.planetas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

.filmes {
  display: flex;
  flex-direction: row;
  margin: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  max-width: 70vw;
}

.planeta-h1 {
  color: #EEC643;
  font-size: 3rem;
  margin: 2rem auto;
  weight: 600;
}

.planeta-h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  weight: 500;
  margin-top: 2rem;
}

.planeta-h3 {
  font-size: 1.6rem;
  margin: 0 3rem 3rem 3rem;
  line-height: 1.8;
  
}

.planeta-h4 {
  font-size: 1.6rem;
  margin: 0 1rem;
  line-height: 1.8;
}

.planetas-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  width: 70vw;
  border: 2px solid #EEC643;
  border-radius: 15px;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  margin: 2rem auto;
  flex-direction: column;
  width: 70vw;
}

.search-box {
  height: 3.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 70vw;
}

.search-box2 {
  margin: 2rem 0;
}

.search-box3 {
  
}

.search-line {
  border: 1px solid #EEC643;
  margin-bottom: 2rem;
}

input {
  height: 2.5rem;
  width: 20rem;
  outline-color: #EEC643;
  border-radius: 4px;
  padding: 0 1rem;
  font-size: 1.6rem;
  margin: 0 1rem;
}

select {
  height: 2.5rem;
  width: 20rem;
  outline-color: #EEC643;
  border-radius: 4px;
  padding: 0 1rem;
  font-size: 1.6rem;
  margin: 0 1rem;
}

.search-button {
  height: 2.5rem;
  width: 10rem;
  border: 2px solid #EEC643;
  border-radius: 4px;
  padding: 0 1rem;
  font-size: 1.6rem;
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #202020;
  color: #EEC643;
}

.search-p {
  font-size: 1.6rem;
  margin: 0 1rem;
  line-height: 2.2rem;
}

input[type="radio"]::-webkit-radio {
  apperance: none;
  outline: none;
}

input[type="radio"] {
  height: 15px;
  width: 15px;
  apperance: none;
  outline: none;
}

input[type="radio"]:checked {
  background-color: #EEC643;
  border-color: #EEC643;

} 

.search-filter-input-asc-desc:checked {
  background-color: #EEC643;
  border-color: #EEC643;
}

.search-button-remover {
  height: 2.5rem;
  width: 22rem;
  border: 2px solid #EEC643;
  border-radius: 4px;
  padding: 0 1rem;
  font-size: 1.6rem;
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #202020;
  color: #EEC643;
}

.search-filter-modal-box {
  width: 20rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #EEC643;
  padding: 1rem 0;
  margin: 2rem;
}



.search-filter-modal {
  font-size: 1.6rem;

}

.search-filter-modal-button {
  height: 2rem;
  width: 2rem;
  border: 1px solid #EEC643;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #202020;
  color: #D8D5DB;

}

.filmes-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 32rem;
  border: 2px solid #EEC643;
  width: 22rem;
  border-radius: 8px;
  cursor: pointer;
}

.filme-titulo {
  height: 7rem;
  border-bottom: 1px solid #EEC643;
  margin-top: 1rem;
}


.planeta-capa {
  height: 30rem;
  display: flex;
  align-items: center;
}

.img-capaFilme {
  width: 15rem;
}


.footer-box {
  width: 100%;
  background-color: black;
  border-top: 2px solid #EEC643;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 2rem;
}


.footer-div-ref {
  text-align: left;
}

.footer-div-contato {
  text-align: left;
}

.footer-contato {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #EEC643;
}

.footer-ref {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #EEC643;
}

.footer-list {
  list-style-type: none;
  padding: 3;
}

.footer-list li {
  margin-bottom: 5px;
}

.footer-link {
  font-size: 1.4rem;
  /*display: block;*/
  /*margin-bottom: 7px;*/
  /*color: #EEC643;*/
  color: #D8D5DB;
  text-decoration: none;
}

.footer-link:hover {
  color: #EEC643;
  font-weight: 500;
  cursor: pointer;
}


/*.footer-div-ref {
  width: 48%;
  /*text-align: left;*/
/*}*/*/


.modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  backdrop-filter: blur(3.0rem);
  margin-bottom: 5%;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  /*position: relative;*/
  flex-direction: column;
  padding: 3rem;
  margin: 5rem auto;
}

.modal-imgBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 3rem;
}

.modal-img {
  height: 315px;
  margin-right: 9rem;
}

.modal-h2 {
  font-size: 2.2rem;
  color: #EEC643;
}

.modal-sinospe {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #EEC643;
  width: 80%;
  flex-direction: column;
  border-radius: 8px;
}

.modal-h3 {
  font-size: 2rem;
  margin-top: 2.5rem;
}

.modal-p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    margin: 2rem;
  }

.modal-closeButton {
  display: grid;
  place-content: center;
  align-self: flex-end;
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid #ced4da;
  color: #ced4da;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
